In [8]:
%config Completer.use_jedi = False

In [2]:
from rasterio.warp import transform
from rasterio.crs import CRS

In [3]:
import rasterio
from rasterio.plot import show
import matplotlib.pyplot as plt
import geopandas as gpd

%matplotlib inline

Stationsstraat 205
2910 Essen
51,462935° - 4,453936°

In [5]:
DSM_tif_loc = r'C:\Users\simon\PycharmProjects\3D_houses\data\1\DSM\GeoTIFF\DHMVIIDSMRAS1m_k01.tif'
DSM_tif = rasterio.open(DSM_tif_loc)

In [6]:
DSM_tif.bounds

BoundingBox(left=145000.0, bottom=238000.0, right=162000.0, top=247000.0)

In [9]:
DSM_tif_loc13 = r'C:\Users\simon\PycharmProjects\3D_houses\data\13\DSM\GeoTIFF\DHMVIIDSMRAS1m_k13.tif'
DSM_tif13 = rasterio.open(DSM_tif_loc13)
DSM_tif13.bounds

BoundingBox(left=66000.0, bottom=198000.0, right=98000.0, top=218000.0)

In [12]:
DTM_tif_loc27 = r'C:\Users\simon\PycharmProjects\3D_houses\data\27\DTM\GeoTIFF\DHMVIIDTMRAS1m_k27.tif'
DTM_tif27 = rasterio.open(DTM_tif_loc27)
DTM_tif27.bounds

BoundingBox(left=20000.0, bottom=158000.0, right=34000.0, top=178000.0)

In [13]:
DTM_tif_loc33 = r'C:\Users\simon\PycharmProjects\3D_houses\data\33\GeoTIFF\DHMVIIDTMRAS1m_k33.tif'
DTM_tif33 = rasterio.open(DTM_tif_loc33)
DTM_tif33.bounds

BoundingBox(left=194000.0, bottom=158000.0, right=226000.0, top=178000.0)

In [15]:
DTM_tif_loc43 = r'C:\Users\simon\PycharmProjects\3D_houses\data\43\GeoTIFF\DHMVIIDTMRAS1m_k43.tif'
DTM_tif43 = rasterio.open(DTM_tif_loc43)
DTM_tif43.bounds

BoundingBox(left=258000.0, bottom=151000.0, right=264000.0, top=158000.0)

In [11]:
DSM_tif.count

1

In [ ]:
x = [20000, 34000, 66000, 98000, 145000, 162000, 194000, 226000]
y = [247000, 238000, 218000, 198000, 178000, 158000, 151000]

In [10]:
data = {
    'index': [(238000, 247000), (218000, 238000), (198000, 218000), (178000, 198000), (158000, 178000), (151000, 158000)],
    (20000, 34000): [0, 0, 11, 19, 27, 0],
    (34000, 66000): [0, 4, 12, 20, 28, 36],
    (66000, 98000): [0, 5, 13, 21, 29, 37],
    (98000, 145000): [0, 6, 14, 22, 30, 38],
    (145000, 162000): [1, 7, 15, 23, 31, 39],
    (162000, 194000): [2, 8, 16, 24, 32, 40],
    (194000, 226000): [3, 9, 17, 25, 33, 41],
    (226000, 258000): [0, 10, 18, 26, 34, 42],
    (258000, 264000): [0, 0, 0, 0, 35, 43]    
}

In [11]:
import pandas as pd

In [12]:
data = pd.DataFrame(data)

In [13]:
data.set_index('index', inplace=True)

In [14]:
data.to_csv('data/bounding_boxes_coordinates')

In [21]:
data.eq(20)

,index,"(20000, 34000)","(34000, 66000)","(66000, 98000)","(98000, 145000)","(145000, 162000)","(162000, 194000)","(194000, 226000)","(226000, 258000)","(258000, 264000)"
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False

In [12]:
DSM_tif.width

17000

In [5]:
DSM_tif.bounds

BoundingBox(left=145000.0, bottom=238000.0, right=162000.0, top=247000.0)

In [6]:
DSM_tif.crs

CRS.from_epsg(31370)

In [7]:
House_coords_wgs84 =  ([51], [4])
geopunt_crs = CRS.from_epsg(31370)
crs_WGS84 = CRS.from_epsg(4326)   # standard WGS84 coordinates

In [9]:
new_crs = CRS.from_epsg(4326)
new_coo = transform(DSM_tif.crs, new_crs, 
                    xs=[590530], ys=[5790650])

In [10]:
new_coo

([174.86010642336456], [87.60018317366878])

In [8]:
new_coo = transform(crs_WGS84, geopunt_crs, 
                    xs=[145000], ys=[247000])
new_coo

([-529914.7822260269], [-6145825.314978582])

In [21]:
new_coo = transform(geopunt_crs, crs_WGS84, 
                    xs=House_coords_wgsd84[0], ys=House_coords_wgsd84[1])
new_coo

([2.306201195772758], [49.29396079086412])

In [13]:
House_coords_wgsd84[0]

[51, 462935]

## geopunt crs to long and ...

In [23]:
geopunt_crs = DSM_tif.crs